#technologyContainer {
  height: 100%;
}

#technologyPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6% 0% 0% 0%;
}

.techIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-img-top {
  height: 15%;
  width: 100%;
  padding: 10%;
}