#contactContainer {
  height: 100%;
  background-color: rgb(145, 66, 66);
}

#contactPage {
  padding: 6% 0% 0% 0%;
}

.contactImg {
  height: 10%;
  width: 10%;
}

// .contactCard {
//   display: flex;
// }