@import url('https://fonts.googleapis.com/css?family=Oswald');

#introContainer {
  padding: 3%;
  height: 100%;
  background-color: rgb(98, 175, 149);
}

#intro {
  text-align: center;
  color: white;
  padding: 15% 2% 0% 2%;
  font-family: 'Oswald', sans-serif;

    h1 {
      font-size: 6vw;
    }
    h3 {
      font-size: 3vw;
    }
    hr {
      width: 75%;
      height: 12px;
      border: 0;
      box-shadow: inset 0 12px 12px -12px white;
    }
}

#bioContainer {
  height: 100%;
  background-color: rgb(226, 187, 70);
}

#bioPage {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 6% 0% 0% 0%;

    h1 {
      font-size: 4vw;
    }
    h3 {
      font-size: 3vw;
    }
    img {
      height: 20%;
      width: 15%;
    }
    hr {
      width: 75%;
      height: 12px;
      border: 0;
      box-shadow: inset 0 12px 12px -12px white;
    }
}