@import url('https://fonts.googleapis.com/css?family=Oswald');

#introContainer {
  padding: 21%;
  background-color: aquamarine;
}

#intro {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;

    h1 {
      font-size: 5vw;
    }
    h3 {
      font-size: 3vw;
    }
}

#bioContainer {
  padding: 2% 10%;
  background-color: #FFC312;
}

#bioPage {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;

    h1 {
      font-size: 5vw;
    }
    h3 {
      font-size: 3vw;
    }
    img {
      height: 20%;
      width: 15%;
    }
    hr {
      width: 50%;
    }
}